@charset "UTF-8";
html {
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

:root {
  --txtcolor: #757575;
  /*колір тексту*/
  --color-hover: #2196F3;
  /*колір тексту при hover */
  --headers-color: #212121;
  --menu-link-color: #212121;
  /*колір тексту заголовків */
  --btn-bckgrd: #2196F3;
  --btn-bckgrd-hover: #188CE8;
  --body-bckgrd-color: #E5E5E5;
  --page-bckgrd-color: #FFFFFF;
  --hero-bckgrd: #2F303A;
  --fz-colutions-title: 44px;
  --fz-section-title: 36px;
  --fz-company-name: 26px;
  --fz-order-btn: 16px;
  --fz-menu-info-link-txt: 14px;
}

body {
  max-width: 1600px;
  height: 96%;
  font-family: "Roboto", sans-serif;
  padding: 30px;
  background-color: var(--body-bckgrd-color);
}

.wrapper {
  min-height: 100%;
  background-color: var(--page-bckgrd-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  padding: 0 13.5%;
  border-bottom: #ECECEC;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr;
  grid-template-columns: 1fr 2fr 2fr;
}

.company-link {
  margin-top: 24px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: var(--fz-company-name);
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--menu-link-color);
}
.company-link > span {
  color: #2196F3;
}

.header__menu {
  margin-top: 32px;
}

.menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
  grid-template-columns: auto auto auto;
}
.menu .menu__link {
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-menu-info-link-txt);
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--menu-color);
}
.menu .menu__link:hover {
  color: var(--color-hover);
}
.menu > ul {
  text-align: justify;
}

.header-info {
  margin-top: 32px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(135px, 1fr) minmax(122px, 1fr);
  grid-template-columns: minmax(135px, 1fr) minmax(122px, 1fr);
}

.contact-info .info__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: var(--fz-menu-info-link-txt);
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--txtcolor);
}
.contact-info .info__link:hover {
  color: var(--color-hover);
}
.contact-info > li {
  text-align: right;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  row-gap: 94px;
}

.effective-solutions {
  background-color: var(--hero-bckgrd);
  text-align: center;
}
.effective-solutions h1 {
  font-weight: 900;
  font-size: var(--fz-colutions-title);
  line-height: 136%;
  margin-top: 200px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.effective-solutions .order-service-btn {
  font-family: "Roboto";
  font-weight: 700;
  font-size: var(--fz-order-btn);
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-top: 30px;
  margin-bottom: 200px;
  padding: 10px 32px;
  color: #FFFFFF;
  background-color: var(--btn-bckgrd);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.effective-solutions .order-service-btn:hover {
  background-color: var(--btn-bckgrd-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.effective-solutions .order-service-btn:focus {
  background-color: var(--btn-bckgrd-hover);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.our-advantages {
  padding: 0 13.5%;
}
.our-advantages .hidden-title {
  display: none;
}
.our-advantages .advantages__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.our-advantages .advantages__list .advantage-title {
  font-weight: 700;
  font-size: var(--fz-menu-info-link-txt);
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--headers-color);
}
.our-advantages .advantages__list .advantage-description {
  margin-top: 10px;
  font-weight: 400;
  font-size: var(--fz-menu-info-link-txt);
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  text-align: justify;
  color: var(--txtcolor);
}

.what-we-doing {
  padding: 0 13.4%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 50px auto;
  grid-template-rows: auto auto;
  row-gap: 50px;
}
.what-we-doing .we-doing-title {
  text-align: center;
  font-weight: 700;
  font-size: var(--fz-section-title);
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--menu-link-color);
}
.what-we-doing .we-doing-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.what-we-doing .we-doing-list img {
  max-width: 99%;
  min-width: 50%;
}